/* Base styles for the ProductDisplay component */
.product_dispaly {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
  }
  .product_display-img-div{
    margin: 2vh 1vw;
    width: 15vw;
  }
  
  .product_display-img{
    width: 100%;
    height: 20vh;
    /* width: auto;
    height: auto; */
  }
  .product_dispaly-all-div{
    margin-left: 5vw;
    width: 20vw;
  }
  .product_dispaly-no-products {
    text-align: center;
    padding: 20px;
    color: #ff0000; /* Red color for no products message */
    font-size: 18px;
  }
  
  .product-item {
    border: 2px solid #ff0000; /* Red border */
    border-radius: 8px;
    display: flex;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: calc(33% - 20px); Adjust width for responsiveness */
    width: 100%;
    box-sizing: border-box;
  }
  
  .product_dispaly-name {
    font-size: 18px;
    color: #ff0000; /* Red color for product name */
    margin: 0 0 10px 0;
  }
  
  .product_dispaly-Quanity,
  .product_dispaly-price,
  .product_dispaly-extra {
    font-size: 16px;
    color: #333333; /* Dark grey for text */
    margin: 5px 0;
  }
  .product_display-count{
    margin: 10vh 0 0 10vw;
    border : 2px solid red;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
  }
  .product_display-count-button{
    height: inherit;
    width: 3vw;
    background-color: red;
    color: white;
  }
  .product_display-count-val{
    width: 4vw;
  }
  .product_display-buy{
    color: white;
    background-color: #ff0000;
    margin: 10vh 0 0 5vw ;
    height: 5vh;
    padding: 0.25rem 1rem 0.25rem 1rem;
    border: 2px solid #ff0000;
    border-radius: 0.25rem;
  }
  .product_display-buy:hover{
    background-color: #8d0606;
    border: 2px solid #8d0606;
  }
  .product_display-buy:active{
    border: 2px solid #ff0000;
  }
  .product_display-buy:focus{
    outline: none;
  }

  .hidden2{
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    display:none;
  }

  .product_display-box2:hover .hidden2,
.hidden2:hover {
  display: block;
}
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .product-item {
      width: calc(50% - 20px); /* Two items per row on medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .product-item {
      width: 100%; /* Full width on small screens */
    }
  }
  